.og-table-wrap {
  width: 100%;
  height: 100%;
}

.og-table {
  height: 100%;
  width: 100%;
  position: relative
}

.og-top {
  width: 100%;
  height: 67.2%;
}

.og-board {
  cursor: pointer;
  -webkit-user-select: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32.8%;
}

.og-board .drag-over {
  position: absolute;
  height: 50%;
  width: 6.25%;
  box-shadow: inset 0 0 10px 2px rgba(216, 85, 0, 0.9)
}

piece {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 6.25%;
  background-size: cover;
}

piece.selected:not(.dragging) {
  z-index: 2;
  box-shadow: 0 0 0 2px rgba(0, 85, 80, 0.5);
}

piece.dragging {
  z-index: 9;
  cursor: move;
}
